@font-face {
  font-family: "Gilroy";
  src: url(./Radomir\ Tinkov\ -\ Gilroy-ExtraBold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
}
.loader {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader > img {
  width: 150px;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  z-index: 9;
  background-color: #000;
  color: #fff;
}

.logo {
  font-size: 2rem;
  font-weight: 300;
}
.ul {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li > i {
  font-size: 2.5rem;
  color: #ffffff;
}
#main {
  overflow: hidden;
  position: relative;
}

#page1 {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 999;
}

#page1 > canvas {
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
#loop {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15%;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#loop > h1 {
  font-size: 15rem;
  white-space: nowrap;
  word-spacing: 1rem;
  animation: scroll 25s infinite linear;
  font-family: Gilroy;
}
#loop > h1 > span {
  -webkit-text-stroke: 2px #000000;
  color: #ffffff;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.content {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}
.content-left {
  width: 35%;
  font-size: 1.8rem;
}
.content-right {
  width: 35%;
  font-size: 1.8rem;
}
.content-right > p {
  text-align: right;
  font-size: 2rem;
  font-weight: 900;
}
#page2 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.page2-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page2-left-content {
  width: 25%;
  position: absolute;
  top: 10%;
  left: 0;
  transform: translateY(-10%);
}
.page2-right-content {
  width: 25%;
  position: absolute;
  bottom: 10%;
  right: 0;
  transform: translateY(-10%);
  text-align: right;
}
.page2-left-content > p,
.page2-right-content > p {
  font-size: 2rem;
  padding: 2rem 0 1rem;
}
.page2-left-content > h1,
.page2-right-content > h1 {
  font-size: 3rem;
  line-height: 4rem;
}

#page3 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.page3-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page3-left-content {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-20%);
}
.page3-right-content {
  width: 25%;
  position: absolute;
  bottom: 10%;
  right: 0;
  transform: translateY(-10%);
  text-align: right;
}

.page3-left-content > p,
.page3-right-content > p {
  font-size: 2rem;
  padding: 2rem 0 1rem;
}
.page3-left-content > h1,
.page3-right-content > h1 {
  font-size: 3rem;
  line-height: 4rem;
}

#page4 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.page4-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page4-left-content {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-20%);
}
.page4-right-content {
  width: 25%;
  position: absolute;
  bottom: 10%;
  right: 0;
  transform: translateY(-10%);
  text-align: right;
}

.page4-left-content > p {
  font-size: 2rem;
  padding: 2rem 0 1rem;
}
.page4-left-content > h1,
.page4-right-content > h1 {
  font-size: 3rem;
  line-height: 4rem;
}
.page4-right-content > p {
  font-size: 1.5rem;
  padding: 1rem 0;
}
#page5 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.page5-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page5-left-content {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-20%);
}
.page5-right-content {
  width: 25%;
  position: absolute;
  bottom: 10%;
  right: 0;
  transform: translateY(-10%);
  text-align: right;
}

.page5-left-content > p {
  font-size: 2rem;
  padding: 2rem 0 1rem;
}
.page5-left-content > h1,
.page5-right-content > h1 {
  font-size: 3rem;
  line-height: 4rem;
}
.page5-right-content > p {
  font-size: 1.5rem;
  padding: 1rem 0;
}
#page6 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.page6-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page6-left-content {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-20%);
}
.page6-right-content {
  width: 25%;
  position: absolute;
  bottom: 10%;
  right: 0;
  transform: translateY(-10%);
  text-align: right;
}

.page6-left-content > p {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.page6-right-content > p {
  font-size: 2rem;
  padding: 2rem 0 1rem;
}
.page6-right-content > h1 {
  font-size: 3rem;
  line-height: 4rem;
}

#page7 {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.page7-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.page7-left-content {
  width: 25%;
  position: absolute;
  top: 20%;
  left: 0;
  transform: translateY(-20%);
}
.page7-right-content {
  width: 25%;
  position: absolute;
  bottom: 10%;
  right: 0;
  transform: translateY(-10%);
  text-align: right;
}

.page7-left-content > p {
  font-size: 1.5rem;
  padding: 1rem 0;
}
.page7-right-content > p {
  font-size: 2rem;
  padding: 2rem 0 1rem;
}
.page7-right-content > h1 {
  font-size: 3rem;
  line-height: 4rem;
}

#page8 {
  width: 100vw;
  height: 140vh;
  position: relative;
  background-color: rgb(0, 0, 0);
}
.page8-top-content {
  width: 90%;
  height: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.page8-top-content > p {
  width: 100%;
  margin: 0 auto;
  font-size: 1.7rem;
  line-height: 2.7rem;
  padding: 0.5rem 0;
}
.page8-top-content > h2 {
  width: 100%;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.page8-img-content {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
}
.page8-img-content::-webkit-scrollbar {
  display: none;
}
.page8-img-content > img {
  width: 400px;
  animation: imgScroll 25s linear infinite;
}
@keyframes imgScroll {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-850%);
  }
}
#page9 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #ddd;
}
.page9-top-content {
  width: 90%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 1rem auto;
  text-align: center;
}
.page9-top-content > h1 {
  font-size: 3rem;
  padding: 1rem 0;
}
.page9-top-content > p {
  font-size: 1.8rem;
}
.page9-bottom-content {
  width: 80%;
  height: 60%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  padding: 1rem 0.3rem;
  width: 32%;
  height: 170px;
  border-radius: 1rem;
  text-align: center;
  background-color: #fff;
  box-shadow: 1px 1px 5px cornflowerblue;
  overflow: hidden;
}
.card > p {
  width: 90%;
  margin: 0 auto;
  font-size: 1.4rem;
  padding: 0.5rem 0rem;
}
.card > h1 {
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
}
#page10 {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}
.page10-top-content {
  padding: 3rem;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.page10-top-content > p {
  padding: 1rem;
  font-size: 2.5rem;
}
.page10-top-content > h1 {
  padding: 1rem;
  font-size: 3rem;
}
.line {
  position: relative;
  width: 100%;
  height: 10rem;
  margin-bottom: 3rem;
}
.line::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  height: 15rem;
  transform: translateX(-50%);
  border-left: 3px solid #fff;
}
.page10-bottom-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
}
.page10-bottom-left {
  width: 40%;
  height: 100%;
  margin: 0 auto;
  font-size: 1.7rem;
  line-height: 3rem;
}

.page10-bottom-right {
  width: 40%;
  margin: 0 auto;
  height: 100%;
  font-size: 1.7rem;
  line-height: 3rem;
}
#page11 {
  width: 100vw;
  height: 100vh;
  background-color: #000;
  color: #fff;
}

.page11-button {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 4rem;
}
.page11-button > button {
  border: 2px solid #fff;
  background-color: #000;
  color: #fff;
  text-transform: capitalize;
  padding: 1rem 3rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  cursor: pointer;
}
.page11-bottom-heading > h1 {
  width: 90%;
  margin: 0 auto;
  font-size: 15rem;
  text-align: center;
  padding: 3rem 0;
  font-family: Gilroy;
  -webkit-text-stroke: 1px #ffffff;
  color: transparent;
}
footer {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  background-color: #000;
  color: #fff;
}

footer > i {
  font-size: 3rem;
}
footer > p {
  font-size: 1.6rem;
}
